* {
    margin:0;
    padding:0;
}

body {
    margin:2%;
}

#Simpsons_giphy {
    font-size:50px;
    color:red;
}

button{
margin: 5px;
color: rgb(219, 10, 191);
    
}

label {
    margin-left:60%;
    color: rgb(219, 10, 191);
}

#add-simpson{
    margin-left:60%;

}
